<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>1.7.0</string>
	<key>ServerApiVersion</key>
	<string>2.0.0</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>AD2USB Alarm Interface</string>
	<key>CFBundleName</key>
	<string>ad2usb</string>
	<key>CFBundleIdentifier</key>
	<string>com.berkinet.ad2usb</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http://tinyurl.com/ad2usb-indigo-plugin</string>
		</dict>
	</array>
</dict>
</plist>
